*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */

.container{
    max-width: 1280px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}

.box-viola, .box-rosa{
    margin-bottom: 15px;
    width: 100%;
}

.box-rosa{
    background-color: #e579e6;
    margin-top: 15px;

    height: 100px;
}

.box-giallo{
    background-color: #e1d67a;
    margin-bottom: 15px;
    width: 100%;
    height: 500px;
}

.box-azzurro{
    background-color: #abcfe7;
    width: 100%;
    height: 50px;
}

.col-left, .col-right{
    float: left;
    background-color: #abcfe7 ;
    width: 25%;
    height: 450px;
    border-top:15px solid #0186ff ;
    border-bottom:15px solid #0186ff ;
}

.col-middle{
    float: left;
    background-color: #abcfe7 ;
    width: 50%;
    height: 450px;
    border: 15px solid #0186ff;
}

.box-viola{
    background-color: #8801fe;
    margin-top: 10px;
    height: 50px;
}