*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */

.container{
    max-width: 1280px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}

.box-rosa{
    background-color: #e579e6;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
}

.box-giallo{
    background-color: #e1d67a;
    margin-bottom: 15px;
    width: 100%;
    height: 500px;
}